<%- include('../partials/head') %> <%- include('../partials/header') %>
<div class="container">
  <h1>About me %></h1>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, veritatis.
    Rerum alias perspiciatis nobis beatae ipsam voluptatem a dolore! Explicabo.
  </h2>
</div>

<%- include('../partials/footer') %>
