<%- include('../partials/head') %> <%- include('../partials/header') %>
<div class="container">
  <h1>List of users</h1>
  <ul>
    <% users.forEach((user) => { %>
    <li><%= user.username %></li>
    <% }); %>
  </ul>
</div>
<%- include('../partials/footer') %>
